DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/postgres"

NEXTAUTH_URL="https://tu-dominio.vercel.app"
NEXTAUTH_SECRET=""   # openssl rand -base64 32

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=""
